alabaster
Babel
brotlipy
certifi
cffi
charset-normalizer
colorama
commonmark
cryptography
docutils
future
idna
imagesize
importlib-metadata
Jinja2
livereload
Markdown
MarkupSafe
packaging
pycparser
Pygments
pyOpenSSL
PySocks
pytz
recommonmark
requests
six
snowballstemmer
Sphinx 
sphinx-autobuild
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tornado
urllib3
win-inet-pton
zipp
